.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.example-sidenav-container{
  z-index: 1000;
}
.sidenav__button {
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

.sidenav__close {
  cursor: pointer;
  font-size: 24px;
  color: #a87777;
  padding-left: 4em;
}

.table__categories {
  width: 15em;
  height: 90vh;
}
