.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.toggle_mode {
  background-color: rgb(51, 126, 211);
  border-radius: 20px;
  width: 7em;
  padding-left: 4px;
}

.sidenav__button {
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

.sidenav__close {
  cursor: pointer;
  font-size: 24px;
  color: #a87777;
  padding-left: 4em;
}

.table__categories {
  width: 90vw;
  margin: auto auto;
  height: 90vh;
}
