

<input type="checkbox" id="hmt" class="hidden-menu-ticker">
<label class="burger" for="hmt">
  <span class="burger__item burger__item_first"></span>
  <span class="burger__item burger__item_second"></span>
  <span class="burger__item burger__item_third"></span>
</label>

<ul id="menu" class="nav__menu menu" (click)="toggleMenu()">
  <a href="#" class="menu__item menu__item-active " (click)="highlight($event)" routerLink="."
    routerLinkActive="navItem_selected">
    <li class="menu__item menu__item_main">Main Page</li>
  </a>
  <a class="menu__item" [routerLink]="link"
  (click)="saveNumber($event)" (click)="highlight($event)"
    *ngFor="let navItem of fillerNav; let index = index" [state]="{categoryIndex: getNumberCategory()}">{{navItem}}<li class="menu__item"></li>
  </a>
</ul>


<div class="header__menu onoffswitch" (click)="toggleMenu()">
  <input class="toggle_button_input onoffswitch-checkbox" type="checkbox" name="onoffswitch" id="myonoffswitch" >
  <label class="toggle_button toggle_mode onoffswitch-label" for="myonoffswitch" (click)="toggleMode()" (click)="toggleMenu()" id="toggle">
    <span class="onoffswitch-inner"></span>
    <span class="onoffswitch-switch"></span>
  </label>
</div>

<div class="table__categories" (click)="toggleMenu()">
  <router-outlet></router-outlet>
</div>