.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
//https://www.mobila.name/post/53eb5a219dcff/

.menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background: linear-gradient(40deg,#00bf82,#0099ae);
    height: auto;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

  &__item {
    padding-top: 13px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    text-decoration: none;
    list-style: none;
  }
  &__item-active {
    -webkit-text-stroke: 1px #7e99e2;
    text-decoration: none;
  }
  &__item:hover {
    cursor: pointer;
    color: #7e99e2;
  }
  &__item-active:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1px #7e99e2;
  }
}

.hidden-menu-ticker {
  display: none;
}

.burger{
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 35px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.burger span {
  display: block;
  height: 5px;
  background-color: #cdcdcd;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.burger span.first {
  margin-top: 0;
}

.hidden-menu-ticker:checked ~ .burger {
  left: 160px;
}
.hidden-menu-ticker:checked ~ .menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .burger .burger__item_first {
  transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .burger .burger__item_second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .burger .burger__item_third {
  transform: rotate(-45deg);
  top: -10px;
}


.toggle_button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.toggle_button_input {
  display:none;
}

.toggle_mode {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_mode:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle_mode {
  background-color: #2196F3;
}

input:focus + .toggle_mode {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle_mode:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle_mode:before {
  border-radius: 50%;
}

.toggle_mode {
  background-color: rgb(51, 126, 211);
  border-radius: 20px;
  width: 7em;
  padding-left: 4px;
}

.sidenav__button {
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

.sidenav__close {
  cursor: pointer;
  font-size: 24px;
  color: #a87777;
  padding-left: 4em;
}

.navItem_selected {
  cursor: pointer;
}

.table__categories {
  width: 80vw;
  margin: 2em auto;
  min-height: 80vh;
}
