<input type="checkbox" id="hmt" class="hidden-menu-ticker">
<label class="burger" for="hmt">
  <span class="burger__item burger__item_first"></span>
  <span class="burger__item burger__item_second"></span>
  <span class="burger__item burger__item_third"></span>
</label>

<ul id="menu" class="nav__menu menu" (click)="toggleMenu()">
  <li class="menu__item">
    <a href="#" class="menu__item menu__item-active" (click)="highlight($event)" routerLink="." routerLinkActive="navItem_selected">Main Page</a>
  </li>
  <a class="menu__item" [routerLink]="link" (click)="saveNumber($event)" (click)="highlight($event)" *ngFor="let navItem of fillerNav">{{navItem}}<li class="menu__item"></li>
    </a>
</ul>
<div class="header__menu" (click)="toggleMenu()">
  <label class="toggle_button" (click)="toggleMode()" (click)="toggleMenu()">
    <input class="toggle_button_input" type="checkbox">
    <span class="toggle_mode" *ngIf="this.checked">TRAIN</span>
    <span class="toggle_mode" *ngIf="!this.checked">PLAY</span>
  </label>
</div>



<!-- <button aria-label="menu" class="sidenav__button" mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-slide-toggle aria-label="train" (click)="toggleMode()" (click)="snav.close()" class="toggle_mode" [color]="color" [checked]="checked" [disabled]="disabled"
    *ngIf="checked">
    TRAIN
  </mat-slide-toggle>
  <mat-slide-toggle aria-label="play" (click)="toggleMode()" (click)="snav.close()"  class="toggle_mode" [color]="color" [checked]="checked" [disabled]="disabled"
    *ngIf="!checked">
    PLAY
  </mat-slide-toggle>
</div> -->


<div class="table__categories" (click)="toggleMenu()">
  <router-outlet></router-outlet>
</div>