.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  width: 10em;
  cursor: pointer;

  &__action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__word {
    position: relative;
  }

  &__img {
    width: 10em;
  }
}

//https://davidwalsh.name/css-flip
.card-container {
  perspective: 1000;
}

.animate {
  transform: rotateY(180deg);
}

.card-container,
.card_front,
.card_back {
  width: 10em;
  height: 8em;
}
.cards-container-flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.card_front,
.card_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.card_front {
  z-index: 2;
}
.card_back {
  transform: rotateY(180deg);
}
