<p class="category__title">{{title}}</p>
<p class="category__points-win"></p>
<div class="cards-container">
  <div class="card-container" *ngFor="let card of fillerCategory">
    <div class="cards-container-flip">
      <div class="category-card card card_front" >
        <div class="card__action">
          <span class="card__word">{{card.word}}</span>
          <span class="card__flipper" (click)="rotate($event)">&#8635;</span>
        </div>
        <img class="card__img" [src]=card.image alt="category" (click)="soundOn(card)" (click)="inactiveCard($event, card)">
      </div>
      <div class="category-card card card_back" (mouseleave)="turnCardAutomatic($event)">
        <div class="card__action">
          <span class="card__transl">{{card.translation}}</span>
        </div>
        <img class="card__img" [src]=card.image alt="category">
      </div>
    </div>
  </div>
</div>

<div class="congratulations hidden" >
  <img src="/assets/img/happy.jpg" alt="congratultions" >
  <p class="congratulations__text"> GREAT! </p>
</div>

<div class="non-congratulations hidden" >
  <img src="/assets/img/sad.jpg" alt="congratultions" >
  <p class="congratulations__text"> {{this.playService.getErrors()}} fails ;(</p>
</div>
