

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  width: 10em;
  cursor: pointer;

  &__word {
    position: relative;
  }

  &__img {
    width: 10em;
  }
}