.page__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  grid-gap: 2em;
}

.category-card {
  transition: transform 0.5s;
}

.category-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 18px rgba(14, 13, 13, 0.2);
}
