
<div class="page__content">
    <a [routerLink]="link" [state]="{categoryIndex: 0}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">Action (set A)</span>
        </div>
        <img class="category__img" src="../../assets/img/fly.jpg" alt="category">
      </div>
    </a>
    <a [routerLink]="link" [state]="{categoryIndex: 1}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">Action (set B)</span>
        </div>
        <img class="category__img" src="../../assets/img/dance.jpg" alt="category">
      </div>
    </a>
    <a [routerLink]="link" [state]="{categoryIndex: 2}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">Animal (set A)</span>
        </div>
        <img class="category__img" src="../../assets/img/horse.jpg" alt="category">
      </div>
    </a>
    <a [routerLink]="link" [state]="{categoryIndex: 3}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">Animal (set B)</span>
        </div>
        <img class="category__img" src="../../assets/img/dolphin.jpg" alt="category">
      </div>
    </a>
    <a [routerLink]="link" [state]="{categoryIndex: 4}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">Clothes</span>
        </div>
        <img class="category__img" src="../../assets/img/dress.jpg" alt="category">
      </div>
    </a>
    <a [routerLink]="link" [state]="{categoryIndex: 5}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">Emotions</span>
        </div>
        <img class="category__img" src="../../assets/img/happy.jpg" alt="category">
      </div>
    </a>
    <a [routerLink]="link" [state]="{categoryIndex: 6}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">Professions</span>
        </div>
        <img class="category__img" src="../../assets/img/teacher.jpg" alt="category">
      </div>
    </a>
    <a [routerLink]="link" [state]="{categoryIndex: 7}" class="category-link">
      <div class="category-card card">
        <div class="card__title-container">
          <span class="card__title">IT</span>
        </div>
        <img class="category__img" src="../../assets/img/application.jpg" alt="category">
      </div>
    </a>
</div>
