
<div class="page__content hoverable horizontal " fxLayout="column">
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Action (set A)</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/fly.jpg" alt="category">
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Action (set B)'</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/dance.jpg" alt="category">
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Animal (set A)</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/horse.jpg" alt="category">
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Animal (set B)</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/dolphin.jpg" alt="category">
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Clothes</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/dress.jpg" alt="category">
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Emotions</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/happy.jpg" alt="category">
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Action (set A)</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/dance.jpg" alt="category">
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Action (set A)</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/dance.jpg" alt="category">
    </mat-card>
</div>
