
<div class="page__content hoverable horizontal " fxLayout="column">
    <a [routerLink]="link">
      <div class="category-card card">
        <div>
          <span class="card__title">Action (set A)</span>
        </div>
        <img class="card__img" src="../../assets/img/fly.jpg" alt="category">
      </div>
    </a>
    <div class="category-card">
      <div>
        <span class="card__title">Action (set B)</span>
      </div>
      <img class="card__img" src="../../assets/img/dance.jpg" alt="category">
    </div>
    <div class="category-card">
      <div>
        <span class="card__title">Animal (set A)</span>
      </div>
      <img class="card__img" src="../../assets/img/horse.jpg" alt="category">
    </div>
    <div class="category-card">
      <div>
        <span class="card__title">Animal (set B)</span>
      </div>
      <img class="card__img" src="../../assets/img/dolphin.jpg" alt="category">
    </div>
    <div class="category-card">
      <div>
        <span class="card__title">Clothes</span>
      </div>
      <img class="card__img" src="../../assets/img/dress.jpg" alt="category">
    </div>
    <div class="category-card">
      <div>
        <span class="card__title">Emotions</span>
      </div>
      <img class="card__img" src="../../assets/img/happy.jpg" alt="category">
    </div>
    <div class="category-card">
      <div>
        <span class="card__title">Action (set A)</span>
      </div>
      <img class="card__img" src="../../assets/img/dance.jpg" alt="category">
    </div>
    <div class="category-card">
      <div>
        <span class="card__title">Action (set A)</span>
      </div>
      <img class="card__img" src="../../assets/img/dance.jpg" alt="category">
    </div>
</div>
