* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-self: center;
}

.container {
  min-height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  justify-self: center;
}

footer{
  height: 3 rem;
}
