* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.main {
  width: 1200px;
  height: auto;
}

.startButton {
  width: 5rem;
  height: 2rem;
  background-color: rgb(229, 161, 238);
}



footer{
  height: 3rem;
}
