* {
  background-color: aqua;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;

}

.playingField {
  width: 1200px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: row;
  perspective: 120px;
  perspective-origin: center;

  &__wrap{
    flex: 1 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
    perspective: 25rem;
  }

}
