* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.playingField {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  perspective: 50rem;
  perspective-origin: center;
}

.timer{
  align-self: center;
}

.playingField__correctPairs {
  box-shadow: 8px 8px 8px 8px rgba(90, 202, 90, 0.82), 8px 8px 8px 8px rgba(90, 202, 90, 0.74);
  border-radius: 10px;
}

.playingField__incorrectPairs {
  box-shadow: 8px 8px 8px 8px rgba(221, 46, 46, 0.82), 8px 8px 8px 8px rgba(221, 46, 46, 0.82);
  border-radius: 10px;
}