* {
  background-color: aqua;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.playingField {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  perspective: 15rem;
  perspective-origin: center;
}
