<div class="header">
<!--   <button class="header__menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>toc</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>pets</mat-icon>
      <span>Animal</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>rowing</mat-icon>
      <span>Sport</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>rowing</mat-icon>
      <span>Sport</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
  </mat-menu> -->


<mat-drawer-container class="example-container" >
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="header__menu">
    <button mat-menu-item>
      <mat-icon>pets</mat-icon>
      <span>Animal</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>rowing</mat-icon>
      <span>Sport</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>rowing</mat-icon>
      <span>Sport</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping</span>
    </button>
  </div>
    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>toc</mat-icon>
    </button>
  </div>

</mat-drawer-container>

<p>
  <mat-button-toggle-group name="train" aria-label="train or play">
    <mat-button-toggle value="train">Train</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
  </mat-button-toggle-group>
</p>
</div>