/* .header {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 10vh;
}

 */



.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.example-sidenav {
  padding: 20px;
  background-color: #74d7e9;
}