<div class="cards-container">
  <div class="card-container" *ngFor="let category of categories, let i = index">
    <div class="category__card" *ngIf="!this.editMode">
      <span class="card__word">{{category}}</span>
      <span class="">WORDS: {{cards[i].length}}</span>
      <span class="category__delete" (click)="deleteCategory()">
        &#10060;</span>
      <div class="button-action__container">
        <button class="admin__route admin__button" (click)="enableEditMode()"> Update </button>
        <a routerLink="/admin/categories/words" [state]="{categoryIndex: i}" class="category-link">Add word </a>
      </div>
    </div>
    <div class="category__card" *ngIf="this.editMode">
      <input class="form__input form__input_login" type="text" placeholder="new namecategory">
      <div class="button-action__container">
        <button class="admin__route admin__button"> Update </button>
        <button class="admin__route admin__button" (click)="cancelEditMode()"> Cancel </button>
      </div>
    </div>
  </div>
  <div class="category__card card_create" (click)="createCategory()">
    <span class="card__word"></span>
    <span class="">CREATE NEW CATEGORY</span>
  </div>
</div>