.cards-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 361px;
  height: 244px;
  border-radius: 2px;
  /* background: #00bf9a; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}

.button-action__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 35px;
}

.category__delete {
  cursor: pointer;
}

.admin__button {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    background: #00bf9a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .admin__button:hover {
    background: #00bf9a;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
  }

  .admin__button:active {
    background: #067962;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
  }
