<div class="registration__wrap">
  <div class="registration__form form" action='POST' autocomplete="off">
  <input class="form__input form__input_login" type="text" placeholder="login" required>
  <input class="form__input form__input_password" type="text" placeholder="password" required>
  <div class="button-container">
    <button class="form__cancel formButton" (click)=clearForm()>Cancel</button>
    <button class="form__submit formButton" (click)=checkLogin()>Login</button>
  </div>

  <p>Login: admin</p>
  <p>Password: admin</p>
  </div>
</div>