<button class="button__reset" (click)="this.resetStatistics()">Reset
</button>
<button class="button__redirect" (click)="this.repeatDifficult()">Repeat difficult words
</button>
<table class="styled-table">
  <thead>
      <tr>
          <th>Category name</th>
          <th>Words</th>
          <th>Translation</th>
          <th>Train click</th>
          <th>Correct</th>
          <th>Wrong</th>
          <th>% of errors</th>
      </tr>
  </thead>
  <tbody *ngFor="let category of categoriesList; index as i;">
      <tr class="active-row" *ngFor="let card of getWords(i); index as index">
        <td>{{category}}</td>
        <td>{{card.word}}</td>
        <td>{{card.translation}}</td>
        <td>{{card.trainClicks}}</td>
        <td>{{card.correctAnswers}}</td>
        <td>{{card.incorrectAnswers}}</td>
        <td>{{card.percentCorrect}}</td>
    </tr>
  </tbody>
</table>
